<!DOCTYPE html>
<head>
<meta charset="utf-8" />
<link rel=stylesheet href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
<link rel=stylesheet href="{{ url_for('static', filename='css/aotu.css') }}">
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="/static/js/js2wordcloud.js"></script>
{% block meta %}
<meta name="description" content="up催更及数据面板<br>......">
<title>催更啦！</title>
{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
</body>