{% extends "base.html" %}
{% block content %}
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">UP 催更</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="aotu"   target="_Blank">aotu</a></li>
                  <li><a href="yenong"   target="_Blank">yenong</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
              <p class="lead">仿照影视飓风的投稿《<a href="https://www.bilibili.com/video/BV1pz4y1S7t7"  target="_Blank">【画质改造】48小时爆改党妹的家！</a>》中的催更网页制作，排行榜数据和投稿列表数据刷新更新，但频繁访问会被限制访问；粉丝增长一小时一更新；云图数据两天一更新。<br></br>详情见GitHub。<p>
            <p class="lead">
              <a href="https://github.com/hushhw/cuigeng_bilibili" class="btn btn-lg btn-default"  target="_Blank">Learn more</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com"   target="_Blank">Bootstrap</a>, by <a href="https://github.com/hushhw">hushhw</a>.</p>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}